@media (min-width:992px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="e83e6f71-5c8b-5a82-37f7-fa41a927d6a8"] {display:block;height:100%;}html.w-mod-js:not(.w-mod-ix) [data-w-id="647ae2cd-67cf-ae42-3646-beed71502eff"] {-webkit-transform:translate3d(-100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);}html.w-mod-js:not(.w-mod-ix) [data-w-id="0e037e07-a1a2-6cca-dbb5-0f36be1adaff"] {-webkit-transform:translate3d(0, 115PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);-moz-transform:translate3d(0, 115PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);-ms-transform:translate3d(0, 115PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);transform:translate3d(0, 115PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);}html.w-mod-js:not(.w-mod-ix) [data-w-id="3ef3c43b-79b4-54df-2c40-c5d4a5f6e72f"] {-webkit-transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);-moz-transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);-ms-transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);}html.w-mod-js:not(.w-mod-ix) [data-w-id="4f45652c-714d-fa62-17ca-08c169963426"] {-webkit-transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);-moz-transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);-ms-transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);}}@media (max-width:991px) and (min-width:768px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="e83e6f71-5c8b-5a82-37f7-fa41a927d6a8"] {display:block;height:100%;}html.w-mod-js:not(.w-mod-ix) [data-w-id="647ae2cd-67cf-ae42-3646-beed71502eff"] {-webkit-transform:translate3d(-100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100PX, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);}html.w-mod-js:not(.w-mod-ix) [data-w-id="0e037e07-a1a2-6cca-dbb5-0f36be1adaff"] {-webkit-transform:translate3d(0, 115PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);-moz-transform:translate3d(0, 115PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);-ms-transform:translate3d(0, 115PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);transform:translate3d(0, 115PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);}html.w-mod-js:not(.w-mod-ix) [data-w-id="3ef3c43b-79b4-54df-2c40-c5d4a5f6e72f"] {-webkit-transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);-moz-transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);-ms-transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);}html.w-mod-js:not(.w-mod-ix) [data-w-id="4f45652c-714d-fa62-17ca-08c169963426"] {-webkit-transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);-moz-transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);-ms-transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);transform:translate3d(0, 125PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(3DEG) skew(0, 0);}}
 .pageintrowrapper {
         display:block;
         }
          .outline-number {
         color:rgba(0,0,0,0);
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: #ffcbcb;
         }
         .foot-link:after {
         content: "";
         bottom:0;
         height: 2px;
         width: 0%;
         background: #fff;
         position: absolute;
         left:0;
         -moz-transition:.5s;
         -webkit-transition:.5s;
         -ms-transition:.5s;
         -o-transition:.5s;
         transition:.5s;
         }
         .foot-link:hover:after {
         width: 100%;
         background:#ffcbcb;
         }
         /* accordion */
         .accordion-header {
         position: relative;
         z-index: 2;
         }
         .accordion-body.js-accordion-body {
         display: none;
         }  
         .accordion__item.active > .accordion-header {
         background: #5928e5;
         box-shadow: 0px 20px 20px rgba(89,49,229,0.4);
         margin-bottom: 30px;
         color:#fff;
         }
         .accordion__item.active > .accordion-header h3 , .accordion__item.active > .accordion-header h5 {
         color:#fff;
         }
         .accordion__item .white-arrow {
         transform: rotate(180deg);
         -moz-transition:.5s;
         -webkit-transition:.5s;
         -ms-transition:.5s;
         -o-transition:.5s;
         transition:.5s;
         }
         .accordion__item.active .white-arrow {
         opacity: 1;
         transform: rotate(0deg)
         }
         .accordion__item.active .blue-arrow {
         opacity: 0;
         transform: rotate(-180deg)
         }
         .accordion__item .blue-arrow {
         opacity: 1;
         transform: rotate(0deg);
         -moz-transition:.5s;
         -webkit-transition:.5s;
         -ms-transition:.5s;
         -o-transition:.5s;
         transition:.5s;
         }
         /* faq style over write */
         .faq-col-list-wrap .faq-col-item.accordion__item.js-accordion-item .question.accordion-header.js-accordion-header {
         background:white!important;
         box-shadow: none;
         color:#000!important;
         }
         .faq-col-list-wrap .faq-col-item.accordion__item.js-accordion-item .question.accordion-header.js-accordion-header .white-arrow {opacity: 0!important;}
         .faq-col-list-wrap .faq-col-item.accordion__item.js-accordion-item .question.accordion-header.js-accordion-header .blue-arrow {opacity: 1!important;}
         /* safari fix */
         .team-members-col-item img, .team-members-col-item, 
         .team-members-col-item .overlay, .blog-btn-img, .blog-btn-img img,
         .blog-btn-img .blog-image {
         overflow: hidden;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         border-radius: 50%;
         -khtml-border-radius: 50%;
         border-radius: 50%;
         }
         /*  Safari (7.1+) */ 
         _::-webkit-full-page-media, _:future, :root .safari_only {
         .team-members-col-item img, .team-members-col-item, 
         .team-members-col-item .overlay, .blog-btn-img, .blog-btn-img img,
         .blog-btn-img .blog-image {
         overflow: hidden;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         border-radius: 50%;
         -khtml-border-radius: 50%;
         border-radius: 50%;
         }
         .blog-image, .blog-shadow {
         overflow: hidden;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         border-radius: 50%;
         -khtml-border-radius: 50%;
         border-radius: 50%;
         }
         }
         /* Safari (from 6.1 to 10.0) */
         @media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { 
         @media {
         .team-members-col-item img, .team-members-col-item, 
         .team-members-col-item .overlay, .blog-btn-img, .blog-btn-img img,
         .blog-btn-img .blog-image {
         overflow: hidden;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         border-radius: 50%;
         -khtml-border-radius: 50%;
         border-radius: 50%;
         }
         .blog-image, .blog-shadow {
         overflow: hidden;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         border-radius: 50%;
         -khtml-border-radius: 50%;
         border-radius: 50%;
         }
         }
         }
         }
         /* Safari (10.1+) */
         @media not all and (min-resolution:.001dpcm) { 
         @media {
         .team-members-col-item img, .team-members-col-item, 
         .team-members-col-item .overlay, .blog-btn-img, .blog-btn-img img,
         .blog-btn-img .blog-image {
         overflow: hidden;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         border-radius: 50%;
         -khtml-border-radius: 50%;
         border-radius: 50%;
         }
         .blog-image, .blog-shadow {
         overflow: hidden;
         -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
         border-radius: 50%;
         -khtml-border-radius: 50%;
         border-radius: 50%;
         }
         }
         }