/* Hiding blocking and fixing bits */
         .overlay { pointer-events: none; }
         a.w-webflow-badge { display:none!important; }
         .asterix { vertical-align: super; }
         /* Colour variables */
         body {
         -webkit-font-smoothing: antialiased;
         --cleo-blue: #341CFF;
         --cleo-blue-tint: #4C50F6;
         --trusty-blue: #F2F6FF;
         --trusty-blue-tint: #D6E1FF;
         --gold: #FFE36D;
         --gold-tint: #FFF0D5;
         --bloop: #4C50F6;
         --bloop-tint: #7189FB;
         --dollar-green: #63FFB1;
         --dollar-green-tint: #4EE499;
         --purp: #6100FF;
         --purp-tint: #669EFF;
         --naughty-navy: #21248D;
         --naughty-navy-tint: #3E42C2;
         --lit-purple: #CA8BFC;
         --lit-purple-tint: #B77CE5;
         --soft-cream: #FFF0D5;
         --soft-cream-tint: #FFE4B2;
         --roast-red: #E5606A;
         --roast-red-tint: #FA828E;
         }
         /* Forcing elements to pick up colour theming */
         a { color: inherit; }
         .nav-primary-item { color: inherit; }
         #logo-background,
         #logo-text { transition: fill 400ms cubic-bezier(.215, .61, .355, 1); }
         .dash,
         .divider { background-color: currentColor; }
         .nav-menu + .header-container { box-shadow: 0 1px 0 0 currentColor; }
         .button-secondary { box-shadow: inset 0 0 0 2px currentColor; }
         /* Testimonial slideshow  */
         .testimonial-item {
         display: inline-block;
         vertical-align: middle;
         }
         .testimonial-list { display:block !important; }
         .slick-prev:hover,
         .slick-prev:focus,
         .slick-next:hover,
         .slick-next:focus { outline: none; }
         .slick-slide, .slick-slide *{ outline: none !important; }
         /* Spacing for elements in button groups */
         .button-group { grid-gap: 16px; }
         .button-group:first-child { margin-top: 0; }
         /* Hover styling */
         .underline-hover {
         transition: background-size 0.4s cubic-bezier(.215, .61, .355, 1), color 0.4s cubic-bezier(.215, .61, .355, 1);
         background-image: linear-gradient(to right, currentColor 100%, transparent 100%);
         background-position: 100% 100%;
         background-size: 0% 2px;
         background-repeat: no-repeat;
         }
         .underline-hover:hover {
         opacity: 1;
         background-position: 0% 100%;
         background-size: 100% 2px;
         }
         .underline-hover.w--current {
         box-shadow: inset 0 -2px currentColor;
         }
         .main-menu-link .main-menu-title {
         transition: color 0.4s cubic-bezier(.215, .61, .355, 1);
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: #fff;
         }
         .main-menu-link:hover .main-menu-title,
         .main-menu-link.w--current .main-menu-title {
         color: transparent;
         }
         /* Setting 100% viewport height without the header height */
         @media screen and (min-width: 992px) {
         .intro { min-height: calc(100vh - 80px); }
         .intro-title-text { font-size: calc(30.2vmin - 20px); }
         .image-max-height { max-height: calc(100vh - 80px); }
         }
         /* Menu icon styling */
         .menu-button.w--open .first,
         .menu-button.w--open .last { width: 0; }
         .menu-button div { background-color: currentColor; }
         /* WYSIWYG styles */
         .w-richtext *:first-child { margin-top: 0; }
         .w-richtext figure div { display: inline-block; }
         .w-richtext-align-center { text-align: center; }
         .w-richtext-align-fullwidth { max-width: 100%!important; }
         .w-richtext-align-fullwidth div { display: block!important; }
         .w-richtext-align-floatleft,
         .w-richtext-align-floatright { max-width: 50%; }
         .rich-text p,
         .rich-text li { word-break: break-word; }
         /* Custom cursors */
         body { cursor: url("https://assets-global.website-files.com/60b118690f8e028ab7d93790/6102ad7e3ac0cbabbfd3b5d3_Cursor.svg") 2 2, auto; }
         .slick-track { cursor: url("https://assets-global.website-files.com/60b118690f8e028ab7d93790/6102ad7f6de26a967a138682_Grab.svg") 16 16, auto; }
         a,
         .button,
         .w-dropdown-toggle,
         .menu-button { cursor: url("https://assets-global.website-files.com/60b118690f8e028ab7d93790/6102ad7e954507b8d406407f_Pointer.svg") 5 12, auto; }
         .right-arrow { cursor: url("https://assets-global.website-files.com/60b118690f8e028ab7d93790/60d2fe451ef2bbca4cf2f040_arrow-right.svg") 29 20, e-resize; }
         .left-arrow { cursor: url("https://assets-global.website-files.com/60b118690f8e028ab7d93790/60d2fe44aefc6214f7efff30_arrow-left.svg")  29 20, w-resize; }
         /* Diagonal text bit on the homepage */
         .text-wrap {
         height: 66vh;
         float: left;
         shape-outside: polygon(0 0, 0 100%, 28vh 100%);
         width: 28vh;
         }
         /* Blog nav scroll bar */
         .blog-nav {
         overflow-x: scroll;
         }
         .blog-nav::-webkit-scrollbar {
         height: 2px;
         }
         .blog-nav::-webkit-scrollbar-track {
         background: transparent;
         }
         .blog-nav::-webkit-scrollbar-thumb {
         background: rgba(255,255,255,0.25);
         }
         /* Colour schemes */
         .naughty-navy .nav-menu + .header-container { background-color: var(--naughty-navy); color: #fff; }
         .theme.naughty-navy,
         .naughty-navy .nav-menu + .header-container { background-color: var(--naughty-navy); color: #fff; }
         .naughty-navy .theme-bg { background-color: var(--trusty-blue); color: #000; }
         .naughty-navy .accent-text,
         .naughty-navy .button-secondary { color: var(--gold); }
         .naughty-navy .accent-bg { background-color: var(--gold); }
         .naughty-navy .accent-svg svg { fill: var(--gold); }
         .naughty-navy .theme-bg .accent-text,
         .naughty-navy .theme-bg .button-secondary { color: var(--naughty-navy); }
         .naughty-navy .theme-bg .accent-bg { background-color: var(--naughty-navy); }
         .naughty-navy .theme-bg .accent-svg svg { fill: var(--naughty-navy); }
         .naughty-navy .tint-text { color: var(--naughty-navy-tint); }
         .naughty-navy .tint-bg { background-color: var(--naughty-navy-tint); }
         .naughty-navy .tint-svg svg { fill: var(--naughty-navy-tint); }
         .naughty-navy .theme-bg .tint-text { color: var(--trusty-blue-tint); }
         .naughty-navy .theme-bg .tint-bg { background-color: var(--trusty-blue-tint); }
         .naughty-navy .theme-bg .tint-svg svg { fill: var(--trusty-blue-tint); }
         .theme.trusty-blue,
         .trusty-blue .nav-menu + .header-container { background-color: var(--trusty-blue); color: #000; }
         .trusty-blue .nav-menu + .header-container #logo-text { fill: #fff; }
         .trusty-blue .nav-menu + .header-container #logo-bg { fill: var(--cleo-blue); }
         .trusty-blue .theme-bg { background-color: var(--cleo-blue); color: #fff; }
         .trusty-blue .accent-text,
         .trusty-blue .button-secondary { color: var(--cleo-blue); }
         .trusty-blue .accent-bg { background-color: var(--cleo-blue); }
         .trusty-blue .accent-svg svg { fill: var(--cleo-blue); }
         .trusty-blue .theme-bg .accent-text,
         .trusty-blue .theme-bg .button-secondary { color: var(--gold); }
         .trusty-blue .theme-bg .accent-bg { background-color: var(--gold); }
         .trusty-blue .theme-bg .accent-svg svg { fill: var(--gold); }
         .trusty-blue .tint-text { color: var(--trusty-blue-tint); }
         .trusty-blue .tint-bg { background-color: var(--trusty-blue-tint); }
         .trusty-blue .tint-svg svg { fill: var(--trusty-blue-tint); }
         .trusty-blue .theme-bg .tint-text { color: var(--cleo-blue-tint); }
         .trusty-blue .theme-bg .tint-bg { background-color: var(--cleo-blue-tint); }
         .trusty-blue .theme-bg .tint-svg svg { fill: var(--cleo-blue-tint); }
         .theme.bloop,
         .bloop .nav-menu + .header-container { background-color: var(--bloop); color: #fff; }
         .bloop .theme-bg { background-color: var(--gold); color: #000; }
         .bloop .accent-text,
         .bloop .button-secondary { color: var(--gold); }
         .bloop .accent-bg { background-color: var(--gold); }
         .bloop .accent-svg svg { fill: var(--gold); }
         .bloop .theme-bg .accent-text,
         .bloop .theme-bg .button-secondary { color: var(--bloop); }
         .bloop .theme-bg .accent-bg { background-color: var(--bloop); }
         .bloop .theme-bg .accent-svg svg { fill: var(--bloop); }
         .bloop .tint-text { color: var(--bloop-tint); }
         .bloop .tint-bg { background-color: var(--bloop-tint); }
         .bloop .tint-svg svg { fill: var(--bloop-tint); }
         .bloop .theme-bg .tint-text { color: var(--gold-tint); }
         .bloop .theme-bg .tint-bg { background-color: var(--gold-tint); }
         .bloop .theme-bg .tint-svg svg { fill: var(--gold-tint); }
         .theme.dollar-green,
         .dollar-green .nav-menu + .header-container { background-color: var(--dollar-green); color: #000; }
         .dollar-green .theme-bg { background-color: var(--cleo-blue); color: #fff; }
         .dollar-green .accent-text,
         .dollar-green .button-secondary { color: var(--cleo-blue); }
         .dollar-green .accent-bg { background-color: var(--cleo-blue); }
         .dollar-green .accent-svg svg { fill: var(--cleo-blue); }
         .dollar-green .theme-bg .accent-text,
         .dollar-green .theme-bg .button-secondary { color: var(--dollar-green); }
         .dollar-green .theme-bg .accent-bg { background-color: var(--dollar-green); }
         .dollar-green .theme-bg .accent-svg svg { fill: var(--dollar-green); }
         .dollar-green .tint-text { color: var(--dollar-green-tint); }
         .dollar-green .tint-bg { background-color: var(--dollar-green-tint); }
         .dollar-green .tint-svg svg { fill: var(--dollar-green-tint); }
         .dollar-green .theme-bg .tint-text { color: var(--cleo-blue-tint); }
         .dollar-green .theme-bg .tint-bg { background-color: var(--cleo-blue-tint); }
         .dollar-green .theme-bg .tint-svg svg { fill: var(--cleo-blue-tint); }
         .theme.purp,
         .purp .nav-menu + .header-container { background-color: var(--purp); color: #fff; }
         .purp .theme-bg { background-color: var(--dollar-green); color: #000; }
         .purp .accent-text,
         .purp .button-secondary { color: var(--dollar-green); }
         .purp .accent-bg { background-color: var(--dollar-green); }
         .purp .accent-svg svg { fill: var(--dollar-green); }
         .purp .theme-bg .accent-text,
         .purp .theme-bg .button-secondary { color: var(--purp); }
         .purp .theme-bg .accent-bg { background-color: var(--purp); }
         .purp .theme-bg .accent-svg svg { fill: var(--purp); }
         .purp .tint-text { color: var(--purp-tint); }
         .purp .tint-bg { background-color: var(--purp-tint); }
         .purp .tint-svg svg { fill: var(--purp-tint); }
         .purp .theme-bg .tint-text { color: var(--dollar-green-tint); }
         .purp .theme-bg .tint-bg { background-color: var(--dollar-green-tint); }
         .purp .theme-bg .tint-svg svg { fill: var(--dollar-green-tint); }
         .theme.lit-purple,
         .lit-purple .nav-menu + .header-container { background-color: var(--lit-purple); color: #000; }
         .lit-purple .theme-bg { background-color: var(--naughty-navy); color: #fff; }
         .lit-purple .accent-text,
         .lit-purple .button-secondary { color: var(--naughty-navy); }
         .lit-purple .accent-bg { background-color: var(--naughty-navy); }
         .lit-purple .accent-svg svg { fill: var(--naughty-navy); }
         .lit-purple .theme-bg .accent-text,
         .lit-purple .theme-bg .button-secondary { color: var(--lit-purple); }
         .lit-purple .theme-bg .accent-bg { background-color: var(--lit-purple); }
         .lit-purple .theme-bg .accent-svg svg { fill: var(--lit-purple); }
         .lit-purple .tint-text { color: var(--lit-purple-tint); }
         .lit-purple .tint-bg { background-color: var(--lit-purple-tint); }
         .lit-purple .tint-svg svg { fill: var(--lit-purple-tint); }
         .lit-purple .theme-bg .tint-text { color: var(--naughty-navy-tint); }
         .lit-purple .theme-bg .tint-bg { background-color: var(--naughty-navy-tint); }
         .lit-purple .theme-bg .tint-svg svg { fill: var(--naughty-navy-tint); }
         .theme.roast-red,
         .roast-red .nav-menu + .header-container { background-color: var(--roast-red); color: #fff; }
         .roast-red .theme-bg { background-color: var(--soft-cream); color: #000; }
         .roast-red .accent-text,
         .roast-red .button-secondary { color: var(--soft-cream); }
         .roast-red .accent-bg { background-color: var(--soft-cream); }
         .roast-red .accent-svg svg { fill: var(--soft-cream); }
         .roast-red .theme-bg .accent-text,
         .roast-red .theme-bg .button-secondary { color: var(--roast-red); }
         .roast-red .theme-bg .accent-bg { background-color: var(--roast-red); }
         .roast-red .theme-bg .accent-svg svg { fill: var(--roast-red); }
         .roast-red .tint-text { color: var(--roast-red-tint); }
         .roast-red .tint-bg { background-color: var(--roast-red-tint); }
         .roast-red .tint-svg svg { fill: var(--roast-red-tint); }
         .roast-red .theme-bg .tint-text { color: var(--soft-cream-tint); }
         .roast-red .theme-bg .tint-bg { background-color: var(--soft-cream-tint); }
         .roast-red .theme-bg .tint-svg svg { fill: var(--soft-cream-tint); }